* {
  text-align: center;
  background-color: #A6D0DD;
}
.button1{
  background-color: #5D9C59;
  color: white;
  position: relative;
  top: 20vh;
  margin: 5px;
  border-radius: 50px;
  font-size: 100%;
}
.button2{
  background-color: #FC4F00;
  color: white;
  position: relative;
  top: 20vh;
  margin: 5px;
  border-radius: 50px;
  font-size: 100%;
}
.button3{
  background-color: burlywood;
  color: white;
  position: relative;
  top: 20vh;
  margin: 5px;
  border-radius: 50px;
  font-size: 100%;
}